.styled {
    width: 150px;
    height: 150px;
    border-radius: 15%;
    overflow: hidden;
    position: relative;
    padding: 0;
    border: 0;
}

.selectionPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
    display: block;
    outline: none;
}

.bottomstyled {
    width: 100px;
    height: 20px;
    align-self: stretch;
}