.styled {
    width: 150px;
    height: 150px;
    border-radius: 15%;
    position: relative;
    padding: 0;
    border: 0;
}

.selectionPhoto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15%;
    display: block;
    outline: none;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.fillImage {
    height: 175px;
    width: 175px;
}

.popup-container {
    height: 350px;
    width: 500px;
    background-color: white;
    border-radius: 15%;
}

.bottomstyled {
    width: 100px;
    height: 20px;
    align-self: stretch;
}

.eventbuttonstyle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid black; 
}

.plusButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

.plusIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px; }

.modal {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border-radius: 15%;
    margin-bottom: 5px;
}

.addEvent {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.searchBar {
    height: 20px;
    width: 200px;
    margin-top: 10px;
}

.modal h4 {
    margin: 5px;
}

.popup-content {
    border-radius: 15px;
}

.close {
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.close:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.addEvent {
    margin-top: 10px;
    border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.addEvent:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

input[type="datetime-local"] {
    color: #909090; 
  }
  
  input[type="datetime-local"]::placeholder {
    color: whitesmoke; 
  }
  