.styled {
    width: 150px;
    height: 150px;
    border-radius: 15%;
    overflow: hidden;
    position: relative;
    padding: 0;
    border: 0;
}

.selectionPhoto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15%;
    display: block;
    outline: none;
}

.fillImage {
    height: 175px;
    width: 175px;
    overflow: hidden;
}

.popup-container {
    height: 350px;
    width: 500px;
    background-color: white;
    border-radius: 15%;
}

.bottomstyled {
    width: 100px;
    height: 20px;
    align-self: stretch;
}

.eventbuttonstyle {
    width: 75px;
    height: 75px;
    border-radius: 100%;
}