.event {
    width: auto;
    height: 100%;
    margin: 2em;
    display: inline-flex;
}

.photoContainer {
    position: relative;
}
.eventPhoto {
    border-radius: 15px;
    height: 250px;
    width: 250px;
    align-items: center;
    display: block;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.popup-content {
    border-radius: 15px;
    width: auto;
    max-width: 55%;
}

.event-content-container-text {
    margin-left: 2em;
    width: auto;
}

.event-content-container-text p {
 }

.event-content-container-text h2 {
    margin-top: 0.5em;
    margin-bottom: 0em;
 }

 .event-content-container-text h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
 }

.event-content-container-text h4 {
   margin-bottom: 0;
}

.event-content-container-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-content-container-details-location {
    margin-right: 4em;
}

.event-content-container-details-attendees {
}