::-webkit-scrollbar {
    display: none;
}

.grid-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.grid-item {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border: 0px none #ccc;
    margin-right: 50px;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-item {
    flex: 0 0 auto;
    justify-content: left;
    display: flex;
    margin-top: 50px;
    font-weight: bold;
    font-size: 24px;
    font: roboto;
}