::-webkit-scrollbar {
    display: none;
}

.grid-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 0em;
}

.grid-item {
    flex: 0 0 auto;
    width: 20vh;
    height: 20vh;
    border: 0px none #ccc;
    margin-right: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-item {
    flex: 0 0 auto;
    justify-content: left;
    display: flex;
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

.title-item p {
    margin-bottom: 0.3em;
    font-weight: 800;
}