.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 2px solid #000;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navbar .logo {
    margin-right: 20px;
    height: 100px;
    block-size: 50px;
}

.navbar .searchBar {
    margin-right: 20px;
    height: 30px;
    width: 600px;
    border: 2px solid #000;
    border-radius: 15px;
    padding-left: 35px;
}

.navbar .userPhoto {
    border: 2px solid #000;
    height: 50px;
    border-radius: 50%;
    block-size: 30px;
}

.navbar .searchContainer {
    position: relative;
  }

.searchIcon {
    position: absolute;
    left: 10px; /* Adjust this value based on the exact size of your icon */
    top: 60%;
    transform: translateY(-50%);
    height: 20px; /* Adjust to the size of your icon */
}